html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.choose {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.game {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    width: 100%;
    height: 10%;
}

.cell {
    background-color: gray;
    border: 1px solid rgb(88, 88, 88);
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clicked {
    background-color: rgb(196, 196, 196);
    color: white;
}

.died {
    background-color: red;
}